.cell h2{
    position: absolute;
    font-family: "Reformagroteskmediumc";
    font-size: 52px;
    font-weight: 600;
    line-height: 72.8px;
    letter-spacing: 0.05em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: red;
    width: 277px;
    height: 44px;
    top: 18px;
    left: 14px;

}

.cell p{
    position: absolute;
    font-family: "Reformagroteskmediumc";   
    font-size: 18px;
    font-weight: 600;
    line-height: 22.4px;
    letter-spacing: 0.09em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #f0f0f0;
    width: 300px;
    height: 300px;
    width: 277px;
    height: 44px;
    top: 94px;
    left: 14px;

}

.cell-1{
    position: absolute;
    width: 318px;
    height: 178px;
    border: 1px solid white;
    top: 1180px;
    left: 972px;
}

.cell-2{
    position: absolute;
    width: 318px;
    height: 178px;
    border: 1px solid white;
    top: 1220px;
    left: 1290px;
}

.cell-3{
    position: absolute;
    width: 318px;
    height: 178px;
    border: 1px solid white;
    top: 1358px;
    left: 972px;
}

.cell-4{
    position: absolute;
    width: 318px;
    height: 178px;
    border: 1px solid white;
    top: 1398px;
    left: 1290px;
}

.cell-5{
    position: absolute;
    width: 318px;
    height: 178px;
    border: 1px solid white;
    top: 1536px;
    left: 972px;
}

.cell-6{
    position: absolute;
    width: 318px;
    height: 178px;
    border: 1px solid white;
    top: 1576px;
    left: 1290px;
}

.cell-7{
    position: absolute;
    width: 318px;
    height: 178px;
    border: 1px solid white;
    top: 1712px;
    left: 972px;
}

.cell-8{
    position: absolute;
    width: 318px;
    height: 178px;
    border: 1px solid white;
    top: 1754px;
    left: 1290px;
}